* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-cont {
  display: grid;
  grid-template-columns: 1fr;
}

.div-Logo {
  background-color: #4960a6;
}
.Logo {
  width: 100%;
  height: auto;
}
@media (min-width: 47.81rem) {
  .Logo {
    width: 55%;
  }
}
@media (min-width: 64rem) {
  .Logo {
    width: 34%;
  }
}
