* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.header-cont {
  display: grid;
  grid-template-columns: 1fr;
}
.nav-Header {
}
.div-Logo {
}
.Logo {
  width: 80%;
  height: auto;
  border: 1px solid black;
}
@media (min-width: 43rem) {
  .Logo {
    width: 60%;
  }
}
@media (min-width: 80rem) {
  .Logo {
    width: 44%;
  }
}
