* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.prodContaioner {
  display: grid;
  grid-template-columns: 1fr;
  border: 1.5px solid black;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 90%;
}
.artistName {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.albumCover {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.albumName {
  margin-top: 1rem;
  font-size: 1.25rem;
}
.price {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.paymentButton {
  margin-top: 1rem;
  padding: 1.3rem;
  width: 100%;
  background-color: #4960a6;
  color: white;
  border: 1.5px solid #f6ae84;
  border-radius: 1rem;
  font-size: 1.05rem;
}
@media (min-width: 43rem) {
  .prodContaioner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5rem;
  }
  .mq {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
    padding-top: 0;
  }
  .paymentButton {
    grid-column: 2/3;
    margin: 0.5rem;
  }
  .albumCover {
    min-width: 15rem;
    grid-row: 1/3;
  }
  .artistName {
    margin-top: 0;
  }
  .albumName {
    font-size: 1.15rem;
  }
  .price {
    font-size: 1.35rem;
  }
}
@media (min-width: 46rem) {
  .albumName {
    font-size: 1.35rem;
  }
  .artistName {
    font-size: 2rem;
  }
  .price {
    font-size: 1.55rem;
  }
}
@media (min-width: 53rem) {
  .albumName {
    font-size: 1.55rem;
  }
  .artistName {
    font-size: 2.2rem;
  }
  .price {
    font-size: 1.75rem;
  }
}
@media (min-width: 60rem) {
  .albumName {
    font-size: 1.75rem;
  }
  .artistName {
    font-size: 2.4rem;
  }
  .price {
    font-size: 1.95rem;
  }
}
@media (min-width: 80rem) {
  .albumName {
    font-size: 0.95rem;
  }
  .artistName {
    font-size: 1.4rem;
  }
  .price {
    font-size: 1.15rem;
  }
  /* .paymentButton {
    grid-column: 1/3;
  }
  .albumCover {
    grid-row: 1/2;
  }*/
}

/*@media (min-width: 70rem) {
  .albumCover {
    grid-row: 1/3;
  }
  .paymentButton {
    grid-column: 2/3;
  }
}*/
@media (min-width: 88rem) {
  .albumName {
    font-size: 1.15rem;
  }
  .artistName {
    font-size: 1.8rem;
  }
  .price {
    font-size: 1.35rem;
  }
}
