* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.prodContaioner {
  display: grid;
  grid-template-columns: 1fr;
  border: 1.5px solid black;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 90%;
}
.artistName {
  margin-top: 1rem;
  font-size: 1.8rem;
}
.albumCover {
  width: 100%;
  height: auto;
  border: 2px solid black;
}
.albumName {
  margin-top: 1rem;
  font-size: 1.15rem;
}
.price {
  margin-top: 1rem;
}
.paymentButton {
  margin-top: 1rem;
  padding: 1.3rem;
  width: 100%;
  background-color: #4960a6;
  color: white;
  border: 1.5px solid #f6ae84;
  border-radius: 1rem;
  font-size: 1.05rem;
}
@media (min-width: 31rem) {
  .prodContaioner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5rem;
  }
  .mq {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
    padding-top: 0;
  }
  .paymentButton {
    grid-column: 2/3;
    margin: 0.5rem;
  }
  .albumCover {
    min-width: 15rem;
    grid-row: 1/3;
  }
  .artistName {
    margin-top: 0;
  }
}
@media (min-width: 52.5rem) {
  .grid {
  }
}
