@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
.prodContaioner {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid black;
  margin: 1rem 1rem;
  padding: 1rem;
  width: 90%;
}
.artistName {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin-top: 1rem;
  font-size: 1.8rem;
}
.albumCover {
  width: 100%;
  height: auto;
  border: 2.5px solid black;
}
.albumName {
  font-family: "IBM Plex Sans Arabic", sans-serif;
  margin-top: 1rem;
  font-size: 1.25rem;
  color: #5a5858;
}
.price {
  margin-top: 1rem;
  font-size: 1.4rem;
}
.paymentButton {
  margin-top: 1rem;
  padding: 1.3rem;
  width: 100%;
  background-color: #4960a6;
  color: white;
  border: 1px solid #f6ae84;
  border-radius: 1rem;
  font-size: 1.05rem;
  transition-duration: 0.4s;
}
.paymentButton:hover {
  background-color: #f6ae84;
  color: black;
}
@media (min-width: 47.81rem) {
  .prodContaioner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5rem;
  }
  .mq {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 1rem;
    padding-top: 0;
  }
  .paymentButton {
    grid-column: 2/3;
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .albumCover {
    min-width: 15rem;
    grid-row: 1/3;
  }
  .artistName {
    margin-top: 0;
    margin-top: 0;
  }
  .albumName {
    font-size: 1.15rem;
  }
  .price {
    font-size: 1.35rem;
    margin-top: 0.5rem;
  }
}
/* yes there media querys only change the text,
 seeing as we couldn't change our wire frames I 
 had to stick to the orinal design which im no 
longer a fan of, to make it actally bearably to 
look at i had to adjust the text as such otherwise 
it looks ugly*/
@media (min-width: 53rem) {
  .albumName {
    font-size: 1.25rem;
  }
  .artistName {
    font-size: 1.9rem;
  }
  .price {
    font-size: 1.45rem;
  }
}
@media (min-width: 60rem) {
  .albumName {
    font-size: 1.35rem;
  }
  .artistName {
    font-size: 2rem;
  }
  .price {
    font-size: 1.55rem;
  }
}
@media (min-width: 64rem) {
  .albumName {
    font-size: 0.85rem;
  }
  .artistName {
    font-size: 1.3rem;
  }
  .price {
    font-size: 1.05rem;
  }
  .albumCover {
    min-width: 10rem;
  }
  .paymentButton {
    margin-top: 1rem;
  }
}
@media (min-width: 82.25rem) {
  .price {
    font-size: 1.25rem;
  }
}
@media (min-width: 89rem) {
  .albumName {
    font-size: 0.95rem;
  }
  .artistName {
    font-size: 1.4rem;
  }
}
@media (min-width: 94rem) {
  .albumName {
    font-size: 1.05rem;
  }
  .artistName {
    font-size: 1.5rem;
  }
}
@media (min-width: 100rem) {
  .albumName {
    font-size: 1.15rem;
  }
  .artistName {
    font-size: 1.6rem;
  }
  .price {
    font-size: 1.35rem;
  }
}
@media (min-width: 107rem) {
  .albumName {
    font-size: 1.35rem;
  }
  .artistName {
    font-size: 1.8rem;
  }
}
@media (min-width: 121rem) {
  .albumName {
    margin-top: 2rem;
  }
  .price {
    margin-top: 2rem;
  }
}
